body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

main {
    margin: 1em
}

h1 {
        font-size: 4em;
        text-align: center;
        background-color: #253D6C;
        border: 0.05em solid rgb(46, 33, 61);
        padding: 0.5em 0.1em;
        color: white;
        border-radius: 0.3em;
}

img {
    padding: 0em 1em;
    width:  8em;

}
header {
    background-color: white;
}

header a {
    color: white;
}

nav {
    background-color: #253D6C;
    border: 0.1em solid rgb(46, 33, 61);
    border-color: black;
    border-radius: 0%;
    padding: 0em 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.8em;
    align-items: center;
    margin-right: auto;
    list-style-type: none;
}

nav a {
     text-decoration: none;
    padding: 0em 0.5em;    
    transition:color 0.5s ease ;
     transition:background 0.5s ease;
}

nav a:hover {
        background-color: white;
        color: #253D6C;
        padding: 0.9em 0.5em;
        border-radius: 0.3em;
}

p {
    font-size: 0.9em;
}

footer {
    font-size: 1em;
    border: 0.1em solid black;
    background-color: rgba(64, 62, 72, 0.714);
    color: white;
    text-align: right;
    padding-right: 5em;
    padding: 1em;
}

footer p:hover {
    color: rgba(64, 62, 72, 0);
}
